<<<<<<< HEAD
﻿body
{
 background: linear-gradient(to right, red, white, blue);
     
}
.linear-gradient {
    width: auto;
}
h1
{text-align:center;
 font-size:xx-large;
}
=======
﻿body
{
 background: linear-gradient(to right, red, white, blue);
     
}
.linear-gradient {
    width: auto;
}
h1
{text-align:center;
 font-size:xx-large;
}
>>>>>>> ee92e572e94c12c714c68150510e429dcc0a9e04
